body{
    margin: 0 auto;
}

main{
    margin-left:200px;
    margin-right: 200px;
    display: flex;
    flex-direction: row;
}

header{
   border-bottom: 1px solid gray;
}

.main-flex{
    width: 50%;
}

/*homepage*/
h1{
    size: 20em;
    padding-left: 35px;
    margin-top: 100px;
}

.logo{
 height: 100px; 
 width: 250px;  

}

.price-productpage{
    margin-left: 45px;
}

.heart{
    height: 24px;
    width: 24px;
}

.user{
    height: 24px;
    width: 24px; 
}
.shopping-cart{
    height: 24px;
    width: 24px; 
}

ul{
    list-style-type: none;
    overflow: hidden;
    margin-top: 32px;
    margin-bottom: 32px;
}

ul li{
    display: inline;
    float: right;
    padding-left: 32px;
}

.nav-last{
    padding-right: 200px;
}

.small-product-images{
    width: 15%;
    background-color:rgb(165, 165, 165);
    display: flex;
    flex-direction: column;
}

.background-home{
  
    margin-right: 200px;
}
.product-image{
width: 85%;
background-color: hotpink;
height: 512px;
}

.section-a{
    display: flex;
    flex-direction: row;
    padding-top: 32px;
}

.picture{
    width: 100%;
    background-color: blue;
}

.picture img{
    width: 72px;
    height: 112px;
    margin: 5px;
}

.product-image img{
    height: 400px;
    width: 400px;
    padding-left: 46px;
}

.footer{
    height: 200px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#444747;
    color: white;
    text-align: center;
}

.article-productpage{
padding-left: 35px;
}

.cart-button{
    height: 45px;
    width: 250px;
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: 1em;
}

.cartbutton-product{
    background-color: #24CCCC;
    border: none;
}

.wishlist{
    border: 2px solid #24CCCC;
}

/*shop-landing-page*/
/*product-detail-page*/
/*category-landing-page*/

